<div *ngIf="hasPermissions">
  <p-toast position="top-center" styleClass="pm-move-down"></p-toast>

  <app-toolbar></app-toolbar>

  <p-tabMenu
    class="shadow-2 bg-white"
    [model]="components"
    [activeItem]="selectedItem">
    <ng-template pTemplate="item" let-item>
      <li class="tab-menu-item">{{item.label}}</li>
    </ng-template>
  </p-tabMenu>

  <div class="container mt-2">
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!hasPermissions">
  <p-dialog
    header="{{ 'general.noPermissionForSearchHeader' | translate }}"
    visible="true"
    [style]="{width: '25vw'}">
    {{ 'general.noPermissionForSearch' | translate }}
  </p-dialog>
</div>
