<div *ngIf="hasPermissions">
  <p-toast position="top-center" styleClass="pm-move-down"></p-toast>

  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      placeholder="{{ 'general.search' | translate }}"
    />
  </span>

  <p-button
    class="saveBtn"
    label="{{'general.yesButton' | translate }}"
    (onClick)="showToast()">
  </p-button>
</div>

<div *ngIf="!hasPermissions">
  <p-dialog
    header="{{ 'general.noPermissionForSearchHeader' | translate }}"
    visible="true"
    [style]="{width: '25vw'}">
    {{ 'general.noPermissionForSearch' | translate }}
  </p-dialog>
</div>
