<div *ngIf="hasPermissions">
  <p-toast position="top-center" styleClass="pm-move-down"></p-toast>

  <div>
    <app-toolbar></app-toolbar>
  </div>

  <div class="container mt-2">
    <p-tabMenu [model]="components" [activeItem]="selectedItem"></p-tabMenu>
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!hasPermissions">
  <p-dialog
    header="{{ 'general.noPermissionForSearchHeader' | translate }}"
    visible="true"
    [style]="{width: '25vw'}">
    {{ 'general.noPermissionForSearch' | translate }}
  </p-dialog>
</div>
