/* You can add global styles to this file, and also import other style files */
//@import "~bos30-components-primeng/src/styles/sb_theming";

@import "assets/styles/colors";
@import "~bos30-components-primeng/src/styles/component_theming";
@import "~bos30-components-primeng/src/styles/components/sb-button-theme";
@import "assets/styles/sb-multiselect-theme";

// Overwrite colors
$sb-color-key-teal:         $sb-color-key-parking;
$sb-color-key-teal-72:      $sb-color-key-parking-72;
$sb-color-key-teal-32:      $sb-color-key-parking-32;
$sb-color-key-teal-16:      $sb-color-key-parking-16;

@include sb-frs-components-theme();
@include sb-multiselect-component-theme();

.container { margin-left: auto; margin-right: auto; }
@media only screen and (max-width: 767px) { .container { max-width: 100%; } }
@media only screen and (min-width: 768px) { .container { max-width: 740px; } }
@media only screen and (min-width: 992px) { .container { max-width: 980px; } }
@media only screen and (min-width: 1200px) { .container { max-width: 1140px; } }
@media only screen and (min-width: 1400px) { .container { max-width: 1320px; } }

body, html {
  overflow-y: auto;
  background: #f7f7f7;
  margin: 0;
}

body { margin: 0; font-family: "Open Sans", "Helvetica Neue", sans-serif; }

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: #ffffff;
  border-color: $sb-color-key-teal;
  color: $sb-color-key-teal;
}

.saveBtn {
  float: right;
  transform: translateY(35%);
}

.table-wrapper {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
  background: var(--sb-color-white);
}

div.p-toast.p-toast-top-center {
  z-index: 10;
}

.sb-chip {
  border-radius: 0;
  border: 2px solid $sb-color-key-teal-32;
  background-color: $sb-color-key-teal-16;
  font-style: italic;
}

div.sb-chip div.p-chip-text {
  line-height: 1.2;
}

.pm-move-down {
  margin-top: 65px;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon {
  color: #4fa641;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #4fa641;
}

.alert_message {
  border-left-style: solid;
  border-right-style: solid;
  border-color: $sb-color-key-teal;
  border-width: 4px;
}

.greyBackground {
  background: #f7f7f7;
}
